/root
     .bash_profile:.bashrc:.functions:.aliases:.mc/hotlist 
     bin/:Config/
/boot
     grub/grub.conf
     grub/
/etc 
     fstab:group:passwd:profile:resolv.conf:hosts:yum.conf:sudoers:shells:ntp.conf:sysctl.conf 
     nsswitch.conf:redhat-release:mc/mc.menu
     init.d/:profile.d/:yum.repos.d/:sysconfig/:cron.d/:cron.daily/:cron.weekly/:cron.monthly/:ntp/:profile.d/ 
     rear/:samba/:security/:skel/:ssh/:xinetd.d/
/var/spool/mail
     root
/var/spool/cron
     /root
