# List of files and directories to ignore 
/etc
   mtab:adjtime:aliases.db
   blkid/blkid.tab:blkid/blkid.tab.old      
   shadow-:group-:gshadow:gshadow-:passwd-
   lvm/cache/.cache
/root
    .Xauthority/:.nautilus/     